.dashboard-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.search-box{

width:420px;

display:flex;

align-items:center;

gap:12px;

background:white;

padding:14px 18px;

border-radius:14px;

box-shadow:0 10px 25px rgba(0,0,0,.06);

}

.search-box input{

border:none;

outline:none;

width:100%;

font-size:15px;

}

.header-right{

display:flex;

align-items:center;

gap:20px;

}

.icon-btn{

width:48px;

height:48px;

border:none;

border-radius:50%;

background:white;

font-size:20px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.icon-btn:hover{

transform:translateY(-3px);

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.avatar{

width:50px;

height:50px;

border-radius:50%;

background:linear-gradient(135deg,#6366f1,#3b82f6);

display:flex;

align-items:center;

justify-content:center;

font-size:22px;

color:white;

}

.profile h4{

margin:0;

}

.profile p{

margin:0;

color:gray;

font-size:13px;

}